{% extends "_layout.html" %}

{% block content_blog %} 
	<h2>About</h2>
	<p>Hi there.</p>
	<p>
	This is Wang Maoquan, a student at School of Computer Science and Software Engineering, East China Normal University. In my free time I try to learn something, go running and coding.
	</p>
	<p>
	This website is about my experimentation in creating and following a system for constant personal growth by writing about my progress, ideas and rants about software development, programming and other things that interest me.
	</p>

	<p></p>

	<h2>Resume</h2>
	<ul>
		<li>This is my <a target="_blank" class="main" href="/blog/resume">resume</a></li>
	</ul>

	<h2>Contact</h2>
	<ul>
		<li>My Code: <a href="http://www.github.com/wwmmqq">Github</a></li>
		<li>My Email: myqway@outlook.com</li>
	</ul>
{% endblock %}