<html><head>
  <meta charset="utf-8">
  <title>wwmmqq</title>
  <link rel="icon" href="static/images/me.ico">
  <link rel="stylesheet" href="static/css/home.css" type="text/css">

<!--script type="text/javascript" async="" src="http://static.duoshuo.com/embed.js" charset="UTF-8"></script-->
  </head>

<body>
  
  <div class="content-home text-center">
  <a class="avatar" href="/blog">
    <img src="static/images/me.ico" alt="">
  </a>
  <h1 class="name">
    Wang Maoquan
  </h1>
  <div class="slogan">
  </div>
  <hr>

  <ul class="text-center nav">
    
      <li class="item">    
          <a href="/blog/scribbles">Blog</a>
        <span>|</span>
      </li>
    
      <li class="item">
        
          <a href="https://github.com/wwmmqq" target="_blank">Github</a>
        
        <span>|</span>
      </li>
    
      <li class="item">
        
          <a href="https://www.zhihu.com/people/myqway" target="_blank">知乎</a>
        <span>|</span>
      </li>  
  </ul>

  </div>
  </body>
</html>